
.back-card {
  background-color: #fff;
  width: 20vw;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.back-card-logo {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
}

.back-card-logo > img {
  width: 50%;
  height: 50%;
}

.back-card-note-container {
  padding: 0 20px 10px 20px;
  min-height: 45px;
  /* background-color: pink; */
}
.back-card-note-container > p {
  font-weight: 600;
  font-size: 10.2px;
}
.back-card-note-container > span {
  color: #00AEEF;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 10.2px;
}

.back-card-note-container > p:nth-child(1),
.back-card-note-container > p:nth-child(2) {
  margin-bottom: 8px;
}

.back-card-note-container > p:nth-child(3),
.back-card-note-container > p:nth-child(9) {
  margin-bottom: 5px;
}

.back-card-note-container > p:nth-child(5),
.back-card-note-container > p:nth-child(7) {
  margin-bottom: 5px;
}

.back-card-note-container > p:nth-child(10),
.back-card-note-container > p:nth-child(11) {
  margin: 0;
  text-align: center;
}

.back-card-contact-footer-container {
  background-color: #00AEEF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.back-card-contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-card-contact-footer > p {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .back-card {
    width: 80vw;
    margin-bottom: 40px;
  }
}
