
.back-card {
  background-color: #fff;
  width: 20vw;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.back-card-logo {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
}

.back-card-logo > img {
  width: 50%;
  height: 50%;
}

.back-card-note-container {
  padding: 0 10px 10px 10px;
}

.back-card-note-container > img {
  width: 100%;
  height: 100%;
  margin-bottom: 36px;
}

.back-card-contact-footer-container {
  background-color: #00AEEF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.back-card-contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-card-contact-footer > p {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .back-card {
    width: 80vw;
    margin-bottom: 40px;
  }
}


@media all {
  .page-break {
    display: none;
  }
}

@media print { 
    html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }

  .back-card {
    width: 40%;
    height: 45vh;
  }

  
  .back-card-logo {
    padding: 20px;
  }


  .back-card-logo > img {
    width: 60%;
    height: 60%;
  }

  .back-card-contact-footer > p {
    font-size: 25px;
  }

}
