.front-card {
  width: 260px;
  height: 400px;
  box-sizing: border-box;
  position: relative;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.front-card-logo {
  padding: 15px 20px 5px 20px;
  display: flex;
  justify-content: center;
}

.front-card-logo > img {
  width: 80%;
  height: 80%;
}

.front-card-image-container {
  padding: 5px 60px;
  height: 165px;
  width: 100%;
}

.front-card-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border: 2px solid #000;
}

.front-card-image > img {
  width: 100%;
  height: 100%;
}

.front-card-employee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front-card-employee-info-container {
  padding: 0 20px;
  /* position: absolute; */
}

.front-card-employee-info > img {
  width: 40%;
  height: 40%;
}

.front-card-employee-info > p {
  font-weight: 600;
  margin-bottom: 0 !important;
  text-align: center;
}

.front-card-employee-info > p:nth-child(1) {
  font-size: 18px;
}
.front-card-employee-info > p:nth-child(2) {
  color: #00aeef;
  font-size: 13px;
  font-weight: 500;
}

.front-card-employee-info > p:last-child {
  margin-bottom: 5px;
}

.front-card-contact-ogid-container {
  background-color: #00aeef;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
}

.front-card-contact-ogid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-card-contact-ogid > p {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .front-card {
    width: 80vw;
    margin-bottom: 40px;
  }
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }

  .front-card {
    width: 460px;
    height: 760px;
    margin: 5rem 2rem;
    border-radius: 20px;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
  }

  .front-card-image-container {
    height: 365px;
    padding: 10px 80px;
  }

  .front-card-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 2px solid #000;
  }

  .front-card-image > img {
    width: 100%;
    height: 98%;
  }

  .front-card-employee-info > p:nth-child(1) {
    font-size: 32px;
  }
  .front-card-employee-info > p:nth-child(2) {
    font-size: 25px;
  }
  .front-card-employee-info > p:nth-child(4) {
    font-size: 23px;
  }
  .front-card-contact-ogid > p {
    font-size: 25px;
  }
}
