/** @format */

body {
  background: #fff;
}

.gfuSqG {
  display: flex;
  position: relative;
  padding-top: 3%;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.title {
  margin-left: 50px;
}
.title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  color: rgb(129, 129, 129);
}
.s-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 10px;
  color: rgb(51, 51, 51);
}

.bottom {
  display: flex;
  background-color: #fff;
  padding: 5px 0px;
}
.lab {
  font-size: 20px;
}
.las {
  font-size: 18px;
}
.detail-link {
  display: flex;
  margin-bottom: 15px;
  max-width: 80%;
}
.detail-link span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: rgb(68, 68, 68);
}
.vertical-line {
  width: 0;
  height: 80%;
  border-right: 1px solid grey;
  margin-right: 9px;
  margin-left: 10px;
}

.signature tbody {
  background-color: #fff!important;
}
.signature tr {
  background-color: none !important;
}

.blue {
  color: rgb(0, 175, 239);
}
.email-signature-div {
  background-color: rgb(10, 109, 145);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
.email-signature-img {
  height: 100%;
  object-fit: cover;
  border-left: 20px solid rgb(42, 167, 189);
}

.signature-info__upper-right-header {
  padding: 5px 0 5px 10px;
  height: 30%;
}

.s-fullName {
  color: rgba(0, 0, 0, 0.884);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: 'montserrat', sans-serif !important;
}

.s-position {
  color: rgba(0, 0, 0, 0.884);
  font-size: 13px;
  margin-bottom: 0;
  font-family: 'montserrat', sans-serif !important;
}
.phone-td {
  font-size: 9px;
  font-family: 'montserrat', sans-serif !important;
  display: flex;
  font-weight: 600;
  align-items: end;
  width: 98%;
  margin-left: 2%;
}

.phone-td-container {
  margin-bottom: 0;
  padding: 0;
}
.phone-td-container-tr {
  background-color: #fff;
  height: 9px;
}

.phone-td-container-children {
  background-color: #fff;
  padding: 0;
  align-items: center;
  display: flex;
}

.signature-info__lower-awards {
  display: flex;
}

.signature-info__lower-awards-info {
  width: 100%;
}

.signature-info__lower-awards-info > p {
  margin-left: 3px;
  font-size: 8px;
  height: 100%;
  font-family: 'montserrat', sans-serif !important;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-break: break-all;
}
.signature-info__lower-first {
  display: flex;
  justify-content: center;
  align-items: start;
}

.signature-info__lower-second {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 85%;
}

.signature-info__lower-awards-img > img {
  display: flex;
  width: 90%;
  padding: 5px;
  object-fit: cover;
}
