.add-employee-form {
  background-color: #fff;
}

.add-employee-form-loader-div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.add-employee-form-loader-div > p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.add-employee-container-card {
  position: relative;
}

.add-employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
}

.virtual-card {
  background-color: #fff;
  width: 20vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.virtual-card-logo {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
}

.virtual-card-logo > img {
  width: 90%;
  height: 90%;
}

.virtual-card-image-container {
  padding: 0 60px 10px 60px;
}

.virtual-card-image {
  display: flex;
  justify-content: center;
  border: 2px solid #000;
}

.virtual-card-image > img {
  width: 90%;
  height: 90%;
}

.virtual-card-employee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.virtual-card-employee-info-container {
  padding: 0 20px;
}

.virtual-card-employee-info > img {
  width: 40%;
  height: 40%;
}

.virtual-card-employee-info > h3,
.virtual-card-employee-info > p {
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.virtual-card-employee-info > p:last-child {
  margin-bottom: 5px;
}

.virtual-card-contact-ogid-container {
  background-color: #00AEEF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.virtual-card-contact-ogid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-card-contact-ogid > p {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

.virtual-id-note {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: red;
}

@media screen and (max-width: 768px) {
  .virtual-card {
    width: 80vw;
    margin-bottom: 40px;
  }
}