.event_list_content_headers_event_indicator {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.event_list_content_headers_event_indicator > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 591px;
    height: 33px;
}

.event_list_content_headers_event_indicator > div > span {
    width: 177px;
    height: 33px;
    font-size: 14px;
    font-style: normal;
    font-family: Inter !important;
    border-radius: 9px 9px 0px 0px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
    color: #3b3e45;
    background-color: #fff;
    transform: translateY(-2px);
    /* cursor: pointer; */
}
.event_list_content_headers_event_indicator > div > span:hover {
    transition: all 0.3s ease-in-out;
}

.event_list_pending_indicator {
    box-shadow:
        -3px -3px 5px #e6e4e4,
        0 3px #ffa246;
}
.event_list_happening_indicator {
    box-shadow:
        -3px -3px 5px #e6e4e4,
        0 3px #ff6d6d;
}
.event_list_past_indicator {
    box-shadow:
        -3px -3px 5px #e6e4e4,
        0 3px #528dc2;
}

.event_list_pending_indicator.active_status {
    color: #fff;
    background-color: #ffa246;
}
.event_list_happening_indicator.active_status {
    color: #fff;
    background-color: #ff6d6d;
}
.event_list_past_indicator.active_status {
    color: #fff;
    background-color: #528dc2;
}

/*----------------------- 
    CALENDAR SECTION 
------------------------*/

.calendar_indicator_section {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.calendar_section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    height: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.calendar_content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.fc {
    height: 100%;
    width: 100%;
}

.fc-scrollgrid-liquid {
    height: 100%;
    cursor: pointer;
    border: none !important;
}

.fc-col-header-cell-cushion {
    height: 64px !important;
    width: 100% !important;
    display: flex !important;
    padding: 8px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    font-family: Inter !important;
}

.calendar_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calendar_header > span {
    font-family: Inter !important;
    font-style: normal;
}

.calendar_header_day {
    color: #71717a;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 12px;
}

.calendar_header_dayNumber {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.fc .fc-day-today {
    color: #fff;
    background: rgba(135, 199, 255, 0.603) !important;
}

.fc-more-link {
    color: #ff3232;
    font-weight: 500;
    text-decoration: underline;
}

.fc .fc-timegrid-axis-cushion {
    color: #71717a !important;
    height: 72px !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-align: left !important;
    text-transform: capitalize !important;
}

.fc .fc-timegrid-slot-label-cushion {
    color: #71717a !important;
    width: 100% !important;
    height: 36px !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-align: left !important;
}

.fc .fc-timegrid-slot-minor {
    height: 36px !important;
}

.timezone-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #71717a;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    top: 50px;
    right: 1%;
}

.fc .fc-daygrid-day-number {
    color: #000;
}

.fc-day-sat,
.fc-day-sun {
    background: #ededed;
}

.fc-timegrid-event-harness > .fc-timegrid-event {
    background: transparent !important;
    border: none !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end,
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start,
.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
    background-color: transparent !important;
}

.fc-time-grid {
    border: 1px solid red !important;
}

.calendar_event_indicator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e0f2fe;
    border-left: 4px solid #0ea5e9;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 4px;
    padding: 10px;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar_event_indicator.past {
    background-color: #e0f2fe;
    border-left: 4px solid #0ea5e9;
}

.calendar_event_indicator.happening {
    background-color: #fcdbdb;
    border-left: 4px solid #f55d5d;
}

.calendar_event_indicator.pending {
    background-color: #ffefd3;
    border-left: 4px solid #ee9239;
}

.calendar_event_indicator > b,
.calendar_event_indicator > i {
    color: #0369a1;
    font-family: Inter;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar_event_indicator.past > b,
.calendar_event_indicator.past > i {
    color: #0369a1;
}

.calendar_event_indicator.happening > b,
.calendar_event_indicator.happening > i {
    color: #f55d5d;
}

.calendar_event_indicator.pending > b,
.calendar_event_indicator.pending > i {
    color: #ee9239;
}

.calendar_event_indicator > b {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.calendar_event_indicator > i {
    font-weight: 600;
}

.calendar_event_indicator > b > img {
    width: 15px;
    height: 15px;
    margin-left: 6px;
}

.fc-daygrid-block-event {
    border: none;
}

.fc-daygrid-block-event .calendar_event_indicator.past,
.fc-daygrid-block-event .calendar_event_indicator.happening,
.fc-daygrid-block-event .calendar_event_indicator.pending {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fc-daygrid-block-event .calendar_event_indicator.past {
    border-top: 1px solid #0ea5e9;
    border-bottom: 1px solid #0ea5e9;
    border-right: 1px solid #0ea5e9;
}

.fc-daygrid-block-event .calendar_event_indicator.happening {
    border-top: 1px solid #f55d5d;
    border-bottom: 1px solid #f55d5d;
    border-right: 1px solid #f55d5d;
}

.fc-daygrid-block-event .calendar_event_indicator.pending {
    border-top: 1px solid #ee9239;
    border-bottom: 1px solid #ee9239;
    border-right: 1px solid #ee9239;
}

/*------------------- Calendar Header---------------------*/
.fc .fc-toolbar.fc-header-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem !important;
}

.fc-toolbar-chunk:nth-child(1) {
    display: flex;
    align-items: center;
}

.fc .fc-button-group {
    margin-left: 30px;
}

.fc-toolbar-title {
    color: #3b3e45 !important;
    font-family: Inter !important;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0 15px !important;
}

.fc .fc-button-primary {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
}

.fc .fc-button-primary:hover {
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
}

.fc .fc-button-group > .fc-button.fc-button-active {
    background-color: #0ea5e9;
    border: 1px solid #0ea5e9;
}

.fc-today-button,
.fc-timeGridDay-button,
.fc-timeGridWeek-button,
.fc-dayGridMonth-button {
    text-transform: capitalize !important;
    font-family: Inter !important;
    font-size: 14px !important;
}

/*------------------- Popover ---------------------*/
.fc-theme-standard .fc-popover {
    width: 50% !important;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    z-index: 5;
    position: absolute !important;
    top: 70px !important;
    height: 80% !important;
}

.fc-theme-standard .fc-popover-header,
.fc .fc-more-popover .fc-popover-body {
    background-color: #fff;
    border: 1px solid #999;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fc-theme-standard .fc-popover-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.fc .fc-more-popover .fc-popover-body {
    background-color: #fff;
    border: 1px solid #999;
    overflow: auto !important;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fc .fc-popover-title {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    padding: 5px 0 5px 5px;
}

.fc-icon-x {
    color: #000;
    margin-right: 8px;
}

.fc-icon-x::before {
    color: #000;
    border-radius: 50%;
    transition: 0.3s;
}

.fc-icon-x:hover::before {
    color: #fff !important;
    transition: 0.3s;
    background-color: #000;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
}

@media screen and (max-width: 930px) {
    .calendar_section {
        padding: 1rem;
        margin-top: 0;
        height: 100vh;
    }

    .timezone-info,
    .fc-toolbar-chunk:nth-child(1) {
        display: none !important;
    }
}

@media screen and (max-width: 968px) {
    .calendar_section {
        padding: 1rem;
        margin-top: 0;
        height: 100vh;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        display: none;
    }

    .calendar {
        padding-right: 0;
    }

    .calendar_container {
        background-color: #fff;
    }

    .calendar_content {
        padding-left: 10px;
    }

    .calendar_header_dayNumber {
        font-size: 18px;
    }

    .calendar_header_day {
        color: #71717a;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 12px;
    }
}
