/** ------------------------
 *    Public Holiday Modal
 * ------------------------- 
 * @format
 */

.public-holiday-modal {
  position: absolute;
  top: 9%;
  left: 0;
  width: 100vw;
  height: 91vh;
  background-color: #00000080;
  z-index: 1000;
}

.public-holiday-modal-container {
  position: absolute;
  left: 15%;
  top: 2%;
  width: 43%;
  padding: 20px;
  height: 95%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #00000080;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.534);
}

.public-holiday-modal-close {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius: 50%;
  color: #fff;
  transition: 0.2s;
}
.public-holiday-modal-close:hover {
  background-color: red;
  transition: 0.2s;
}

.public-holiday-modal-info {
  position: relative;
  top: 7%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.public-holiday-form-area {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.public-holiday-entry-div {
  position: relative;
  margin-bottom: 10%;
}

.public-holiday-input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45px;
  padding: 0;
  width: 100%;
  color: #414141;
  border-bottom: 1px solid #999;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 18px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.public-holiday-label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0;
  color: #1f1f1f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.public-holiday-input:focus + .public-holiday-label {
  top: -15px;
  left: 0;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  color: #1f1f1f;
}

.public-holiday-input:focus {
  border-bottom: 1px solid #999;
  border-top: none;
  border-left: none;
  border-right: none;
}

.public-holiday-input:not(:placeholder-shown) + .public-holiday-label {
  top: -15px;
  left: 0;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  color: #1f1f1f;
}

.department-project-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.department-checkbox,
.project-checkbox {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.ph-error {
  position: absolute;
  top: 5%;
  left: 30%;
  color: red;
  font-size: 16px;
}

/* Material UI */

#date-picker-dialog-label {
  color: #1f1f1f;
  font-weight: 600;
}

#demo-controlled-open-select-label {
  color: #1f1f1f;
  font-weight: 600;
}

#public-holiday-button {
  position: absolute;
  bottom: 0;
  width: 30%;
  font-size: 20px;
  border-radius: 25px;
  background-color: #00c5fb;
}

#pub-hol-chip {
  position: relative;
  margin: 2px;
  color: #1f1f1f;
  border: 1px solid #999;
  font-size: 14px;
  border-radius: 25px;
}

/* -------------------------
    Public Holiday Table
---------------------------- */

.public-holiday-list {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  margin: 1% auto;
}

.public-holiday-table {
  width: 100%;
  height: 100%;
}

/****** Table Head *******/

.public-holiday-table-head {
  width: 100%;
  border-bottom: 2px solid #999;
}

.public-holiday-table-th th:nth-child(1),
.public-holiday-table-th th:nth-child(2) {
  padding-left: 2%;
  width: 20%;
  height: 50px;
}

.public-holiday-table-th th:nth-child(3) {
  text-align: center;
  width: 60%;
  height: 50px;
}

/****** Table Body *******/

.public-holiday-table-body {
  width: 100%;
  height: 15%;
}

.public-holiday-table-td td:nth-child(1),
.public-holiday-table-td td:nth-child(2) {
  padding-left: 2%;
  width: 20%;
  height: 50px;
}
.public-holiday-table-td td:nth-child(3) {
  width: 600%;
  height: 50px;
}

.req-table-btn {
  border: none;
  width: 30%;
  height: 40px;
  padding: 5px 10px;
  margin: 5% 1%;
  border-radius: 20px;
  color: #fff;
  transition: 0.2s;
}

.view-holiday-btn {
  background-color: #999;
  transition: 0.2s;
  font-weight: 600;
}
.view-holiday-btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
  background-color: rgb(94, 93, 93);
  transition: 0.2s;
}

.delete-holiday-btn {
  background-color: rgb(220, 0, 78);
  transition: 0.2s;
  font-weight: 600;
}
.delete-holiday-btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
  background-color: #c70000;
  transition: 0.2s;
}

.edit-holiday-btn {
  background-color: #1976d2;
  transition: 0.2s;
  font-weight: 600;
}
.edit-holiday-btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
  background-color: #0d47a1;
  transition: 0.2s;
}

/* -------------------------
    Public Holiday View Modal
---------------------------- */

.public-holiday-view-modal {
  position: absolute;
  top: 9%;
  left: 0;
  width: 100vw;
  height: 91vh;
  background-color: #00000080;
  z-index: 1000;
}

.public-holiday-view-modal-container {
  position: absolute;
  left: 19%;
  top: 16%;
  width: 30%;
  padding: 20px;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #00000080;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.534);
}

.public-holiday-view-modal-close {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius: 50%;
  color: #fff;
  transition: 0.2s;
}
.public-holiday-view-modal-close:hover {
  background-color: red;
  transition: 0.2s;
}

.public-holiday-view-modal-info {
  position: relative;
  top: 10%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ph-info {
  border-bottom: #00000080 1px solid;
}

.ph-span {
  float: right;
}

.no-ph {
  text-align: center;
}

.no-ph-div {
  position: relative;
  top: 50%;
  left: 190%;
}

.public-holiday-search {
  display: block;
  width: 20%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
