<form  >
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="invoice_no">Number</label><input
                    name="invoice_no" class="form-control" type="text" id="invoice_no" placeholder="" value=""></div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="customer">Customer</label>
                <select name="" id="">
                    <option value="">Select employee</option>
                </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="invoice_date">Invoice Date</label><input
                    name="invoice_date" class="form-control" type="date" id="invoice_date" placeholder="" value="">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="due-date">Due Date</label><input name="due-date"
                    class="form-control" type="date" id="due-date" placeholder="" value="" /></div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="total">Total</label><input name="total"
                    class="form-control" type="text" id="total" placeholder="" value=""/></div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="status">Status</label><input name="status"
                    class="form-control" type="text" id="status" placeholder="" value=""/></div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label class="col-form-label" for="payment-status">Payment Status</label><input
                    name="payment-status" class="form-control" type="text" id="payment-status" placeholder="" value=""/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"><button class="btn btn-primary btn-add" type="submit">Submit</button></div>
    </div>
</form>