.well {
  min-height: 20px;
  max-height: 500px;
  object-fit: cover;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  overflow: auto;
}

.ticket-info {
  font-weight: 500;
}

.display-status {
  padding: 0.5em 1em;
  border-radius: 5px;
  width: fit-content;
}

.card-status {
  padding: 0.5em;
  font-size: 0.5em;
  margin: 0;
  margin-top: 0.5em;
}