

.filter{
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color:#1f1f1f;
}

.interview_status_filter{
   margin-right: 20px;
    
}


.monthly_filter select, .interview_status_filter select, .processing_stage_filter select{
    
        padding: 10px;
        margin-top: 5px;
        border: 1px ;
        border-color: #00C5FB;
        border-radius: 5px;
    
}


